/** {
  font-family: arial;
  font-size: 16px;
  color: white;
  background: #149332;
}*/

#project_content_view_title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-family: arial;
  font-size: 16px;
  color: white;
  background: #149332;
}

/*#project_content_view_description {

}

#project_content_view_screens {

}

#project_content_view_gitlink {

}

#project_content_view_feedback {

}*/
