#container_dev {
  position: absolute;
}

#project_content_view_heading_dev {
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 28px;
  text-shadow: 1px 1px 5px;
  position: relative;
  width: 550px;
  left: 50px;
  overflow: hidden;
}

#spacer {
  height: 200px;
}
